SERIAL_PORT=COM3
SERIAL_BAUDRATE=9600
SERIAL_TIMEOUT=1
PASO_TIMEOUT=10

DB_HOST=localhost
DB_PORT=5432
DB_NAME=control_acceso_inteligente
DB_USER=postgres
DB_PASSWORD=tu_password

PUNTO_ACCESO=Acceso Principal