# Entornos virtuales de Python
env/
venv/
.env/
.venv/

# Caché y compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Variables de entorno (¡Secretos!)
.env

# Archivos del Sistema Operativo y Editores
.DS_Store
Thumbs.db
.idea/
.vscode/

# Bases de datos locales (opcional, por si usas SQLite en pruebas)
*.sqlite3